<h2>This is Game Component from game.component.html document</h2>

<input [(ngModel)]="searchText" type="text" (change)="handleSearchChange($event)" placeholder="Search for a game">
<input [ngModel]="searchText" (ngModelChange)="searchText=$event" type="text" (change)="handleSearchChange($event)" placeholder="Search for a game">


Input field content: {{searchText}}


<ul #gamesContainer>
    <li *ngFor="let game of games">    
        <su-game-item *ngIf="shouldShowGameItemComponent" [sourceGame]="game">
       </su-game-item>
    </li>
</ul>

<div [style.margin-bottom.px]="10">
    Total games: {{gamesContainer.children.length}}
</div>

<p>The sum of two and two and four is {{2+2+4}}</p>

<button (click)="handleExpandContentClick(gamesContainer)">
    {{ shouldPriceBeChocolate ? 'Make Price Black' : 'Make Price Chocolate'}}
</button>

<button (click)="handleCreateDestroyGameItem()">
    {{ shouldShowGameItemComponent ? 'Destroy GameItem Component' : 'Create GameItem Component'}}
</button>